<a class="btn btn-sm">
    <form method="post" action="{{ path('user_delete', {'id': app.user.id}) }}"
          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="btn btn-outline-danger border-secondary">
            <img width="25em" height="30em"
                 src="{{ asset('build/images/corbeille.svg') }}" alt="logo-poubelle-corbeille" title="Supprimer"/>
        </button>
    </form>
</a>
