{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block title %}Password Rénitialiser le mot de passe{% endblock %}

{% block body %}
    <section class="bg-secondary my-5 py-5">
        <h1 class="text-center pb-4 text-white text-uppercase">Réinitialisation du mot de passe
            <hr class="w-25 bg-info">
        </h1>
        <div class="row justify-content-center mx-0">
            <div class="col-lg-4 m-4 p-2 bg-primary border">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <img class="w-25" src="{{ asset('build/images/mail.svg') }}" alt="logo-outils"/>
                        <div class="mx-4">
                            <h3 class="card-text font-weight-bold">Étape 2 : L' Email de réinitialisation</h3>
                            <p class="font-weight-bold">Votre demande est prise en compte !</p>
                        </div>
                    </div>
                    <p class="card-text mt-4">Vous allez recevoir un e-mail pour réinitialiser votre mot
                        de passe.
                        Ce lien expirera
                        dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                        .</p>

                    <a class="btn btn-light border-secondary"
                       href="{{ path('app_forgot_password_request') }}">Retour</a>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
