{% extends 'base.html.twig' %}

{% block title %}Sophrologie | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h1> Bonsoir</h1>
{% endblock %}
