<a class="btn btn-sm">
    <form method="post" action="{{ path('testiness_delete', {'id': testiness.id}) }}"
          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ces modifications ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ testiness.id) }}">
        <button class="btn">

            <img width="25em" height="30em"
                 src="{{ asset('build/images/delete.svg') }}" alt="logo-poubelle-corbeille" title="Supprimer"/>

        </button>
    </form>
</a>

