@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

* {
  font-family: $font;
}

.quotes {
  width: 5%;
  height: 5%;
}

.diplomes:hover {
  transform: scale(1.1);
}

.diplomes {
  transition: all 200ms;
}
