@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

* {
  font-family: $font;
}

.up {
  position: fixed;
  bottom: $spacing-section;
  right: $font-size-h2;
  width: $font-size-h2;
  height: $font-size-h2;
  opacity: 0.3;
}

.title {
  font-size: $font-size-h2;
}

.logo {
  width: 10%;
  height: 10%;
}
