@import 'app.scss';

.border {
  border-radius: $border;
}

.image-sophro {
  filter: brightness(70%);
}

.title-card-sophro {
  opacity: 1;
}

.text-sophro {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.card-blog-hover .card-blog{
  overflow: hidden;
  position: relative;
}
.card-blog-hover .card-blog img {
  transition: all 0.5s;
}

.card-blog-hover:hover .card-blog img {
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .card-blog-hover:hover .card-blog img {
    transform: scale(1.0);
  }
}

