@import 'app.scss';

.quotes {
  width: 5%;
  height: 5%;
}

.background-speciality {
  filter: brightness(70%);
}

.border {
  border-radius: $border;
}

.background-contact {
  background-image: url("../images/colour.png");
  background-size: cover;
}

.text-individual {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.background-individual {
  filter: brightness(70%);
}

.card-position:nth-child(2n+1) {
  display: flex;
  flex-direction: row-reverse;
}


