@import 'app.scss';

.background-image {
  background-image: url("../images/colour.png");
  background-size: cover;
}

.logo {
  width: 30%;
  height: 20%;
}

.link {
  width: 10%;
  height: 10%;
}

.link-network:hover {
    transform: scale(1.3);
}

.link-network {
  transition: all 200ms;
}

@media screen and (max-width: 1000px) {
  .navbar-primary {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .logo {
    width: 90%;
  }
}


