@import 'app.scss';

.background-image {
  background-image: url("../images/colour.png");
  background-size: cover;
}

.logo {
  width: 15%;
  height: 10%;
}

.logo-navbar {
  width: 20%;
  height: 10%;
}

.link {
  width: 10%;
  height: 10%;
}

.link-network:hover {
    transform: scale(1.3);
}

.link-network {
  transition: all 0.2s;
}

.meet:hover {
  transform: scale(1.1);
}

.meet {
  transition: all 0.2s;
}

.logo-responsive, .border {
  border-radius: $border;
}

@media screen and (max-width: 1000px) {

  .background-image {
    display: none;
  }

  .link-network:hover {
    transform: scale(1.0);
  }

}


