@import 'app.scss';

/********* Superposition texte sur image *******/

/* Conteneur principal*/

.container-sophro {
  position: relative;
}

/* position du texte */

.text-sophro {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.border {
  border-radius: $border;
}

.background-image-card {
  filter: brightness(70%);
}

/********* Hover image et texte *******/


.container-sophro {
  .overlay-sophro {
    opacity: 0;
  }
  /* survol souris */
  &:hover .overlay-sophro {
    opacity: 1;
    transition: .5s ease;
  }

  .title-card-sophro {
    opacity: 1;
  }

  &:hover .title-card-sophro {
    opacity: 0;
    transition: .5s ease;
  }
}



.overlay-sophro-responsive {
  display: none;
}

/* Réorganisation des éléments en responsive */
@media screen and (max-width: 1000px) {
  .container-sophro:hover {
    .title-card-sophro {
      opacity: 1;
    }

    .overlay-sophro {
      opacity: 0;
    }
  }

  .overlay-sophro-responsive {
    display: block;
  }
}
