$primary: #CDCCCC;
$secondary: #505050;
$info: #E5C2D1;
$light: #ffffff;
$dark: #000000;

$font: 'Roboto', serif;

$spacing: 8px;
$spacing-2: $spacing*2;
$spacing-4: $spacing*4;
$spacing-6: $spacing*6;
$spacing-section: $spacing*10;

$font-size-h1: 45px;
$font-size-h2: 35px;
$font-size-h3: 25px;

$border: 5px;

